alabaster==0.7.10
attrs==17.2.0
autobahn==17.9.1
Automat==0.6.0
Babel==2.5.0
buildbot==0.9.11
buildbot-console-view==0.9.11
buildbot-grid-view==0.9.11
buildbot-waterfall-view==0.9.11
buildbot-worker==0.9.11
buildbot-www==0.9.11
certifi==2017.7.27.1
chardet==3.0.4
constantly==15.1.0
decorator==4.1.2
docutils==0.14
future==0.16.0
hyperlink==17.3.1
idna==2.6
imagesize==0.7.1
incremental==17.5.0
Jinja2==2.9.6
MarkupSafe==1.0
pbr==3.1.1
Pygments==2.2.0
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.14
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
Twisted==17.5.0
txaio==2.8.2
urllib3==1.22
zope.interface==4.4.2
